@model List<MyFirstApplication.Models.ListOfTvShowsViewModel>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a>Display List Of Shows</a>.</p>
</div>
<section>
    <table>
        <tr>
        </tr>
        @{
            int i = 0;
            foreach (var item in Model)
            {
               
                if(i<=3)
                {
                    <td>
                    <a href="@item.URL">
                        <img src="@item.ImageURL" alt="@item.Name">
                    </a>
                        <div>
                        <a href="@item.URL">
                            <h4 style="color:black;"><b>@item.Name</b></h4>
                        </a>
                            <p>Rating @item.Rating.Average</p>
                        </div>
                    </td>
                    i = i + 1;
                }
                else
                {
                    i = 0;
                    <tr>                        
                    </tr>
                    
                }
            }
        
        }

    </table>
</section>
