@model MyFirstApplication.Models.MovieViewModel




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @{
        ViewData["Title"] = "Home Page";


        <p>@Model.Title</p>
        <p>@Model.Actors</p>
        <p>@Model.Director</p>
        <p>@Model.Genre</p>
        <p>@Model.Rated</p>
        <p>@Model.Website</p>

    }
</div>
